---
---

$enable-flex: 1;

$container-max-widths: (
  sm: 576px,
  md: 750px,
  lg: 850px,
  xl: 850px
);

$font-family-monospace: 'Inconsolata', 'Monaco', 'Anonymous', monospace;
$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
$font-family-headings: 'Bitter';

$white: #fff;
$black: #000;

$gray: #888;
$gray-lighter: #ccc;
$gray-lightest: #eee;

$brand-yellow: #FFFA89;
$brand-red: #FE8787;
$brand-orange: #FEC988;
$brand-cyan: #8AF4FF;
$brand-green: #8AFEA0;
$brand-blue: #928BFF;

$brand-primary: #324753;
$brand-secondary: #00C3B1;

$body-color: #444;
$text-muted: #999;
$text-inverse: $white;
$link-color: #6CB5F9;

$font-size-root: 14px;

$border-color: #444;

$pre-bg: #444;
$pre-color: $white;

$navbar-color: $body-color;

@mixin flex {
  display: flex;
  flex: none;
}

@import '../bower_components/bootstrap/scss/bootstrap-reboot';
@import '../bower_components/bootstrap/scss/bootstrap-grid';

@import 'buttons';

// See https://github.com/twbs/bootstrap/issues/19123
[class^="col-"] {
  min-width: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-family-headings;
}

pre {
  flex: 1 1 auto;
  padding: 1em;
  background: $pre-bg;
  color: $pre-color;
  white-space: normal;
}

code {
  white-space: pre;
}

body {
  display: flex;
  flex-direction: column;
}

html, body {
  min-height: 100%;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.navbar + .container {
  flex: 1 1 auto;
}

img {
  max-width: 100%;
}

.footer {
  padding: 1em 0;
  color: $text-muted;

  .container {
    @include flex;
    justify-content: center;
  }

  .fox-and-beard {
    margin: 0 0.3em;
  }

  a {
    margin: 0 0.3em;
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@import 'navbar';
@import 'code';
@import 'guides';
@import 'api';
@import 'homepage';
