---
---
$monospace: 'Inconsolata', 'Monaco', 'Anonymous', monospace;
$sans: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;

$white: #fff;
$black: #000;

$brand-one: #25dfdf;
$brand-two: #7fe5b7;

$text: #444;
$muted: #888;
$link: #7884ea;

@import 'normalize';
@import 'code';
@import 'homepage';
@import 'guides';
@import 'api';

* {
  box-sizing: border-box;
}

body {
  color: $text;
  font-family: $sans;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.3em;
  margin-bottom: 0.8em;
  font-weight: 600;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

header {
  padding: 1em;
  background-color: $brand-one;
  background-image: url('/images/hero-bg.png'), linear-gradient(40deg, $brand-one, $brand-two);
  color: $white;
  font-size: 1.4em;
  overflow: auto;

  .logo-light {
    display: inline-block;
    height: 2em;
    margin-top: -0.2em;
    margin-right: 0.5em;
    vertical-align: middle;
  }

  .brand {
    color: inherit;
    font-family: 'Montserrat Alternates';
    font-weight: 400;
    letter-spacing: 0.5px;
    text-decoration: none;
  }

  nav {
    float: right;
  }

  .nav-link {
    display: inline-block;
    margin-left: 2em;
    padding-bottom: 0.2em;
    border-bottom: 2px solid transparent;
    color: inherit;
    font-size: 0.8em;
    text-decoration: none;

    &:hover, &.active {
      border-bottom: 2px solid rgba($white, 0.7);
    }
  }

  .api-nav-module-file {
    display: block;
    font-family: $monospace;
    font-weight: 400;
    opacity: 0.5;
  }
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 5rem;
}

pre {
  padding: 0.8rem;
  border-radius: 2px;
  background-color: $text;

  > code {
    border: none;
    background: transparent;
    color: darken($white, 10%);
    font-size: 0.9em;
  }
}

code {
  display: inline-block;
  border: 1px solid darken($white, 5%);
  background-color: darken($white, 3%);
  color: $text;
  font-size: 0.9em;
}

.row {
  overflow: auto;
}

.three-column {
  width: 33%;
  padding: 1em;
  float: left;
}
