<div class='display-controls'>
  <label class='toggle'>
    <input type='checkbox' id='toggle-private-members'>
    Show Private
  </label>
  <label class='toggle'>
    <input type='checkbox' id='toggle-deprecated-members'>
    Show Deprecated
  </label>
</div>
<script>
  $(function() {
    [ 'private', 'deprecated' ].forEach(function(type) {
      var $toggle = $('#toggle-' + type + '-members');
      $toggle.on('change', function() {
        if ($toggle.is(':checked')) {
          $('[data-' + type + '-member]').css('display', 'block');
        } else {
          $('[data-' + type + '-member]').css('display', 'none');
        }
      });
      if ($(window.location.hash).attr('data-' + type + '-member')) {
        $toggle.click();
      }
    });
  });
</script>