<div class='nav-section'>
  <div class='nav-header'>Version</div>
  <div class='versions-menu-toggle' data-jq-dropdown='#versions-menu'>
    <%= version.name %> <%= version.channel ? '(' + version.channel + ')' : '' %>
    <img class='versions-menu-caret' src='/images/caret.svg'>
  </div>
</div>
