{
  "presets": [ "latest" ],
  "plugins": [
    "transform-class-properties",
    "transform-runtime"
  ],
  "ignore": [
    "blueprints/*/files/**",
    "test/dummy/**"
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
