{
  "presets": [ "latest" ],
  "plugins": [
    "transform-class-properties"
  ],
  "ignore": [
    "cli/blueprints/*/files/**"
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
