{
  "presets": [ "es2015" ],
  "plugins": [
    "transform-class-properties"
  ],
  "ignore": [
    "cli/blueprints/*/files/**"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
