---
layout: api
---

<h1>Denali API Documentation</h1>

<p>
  Here you'll find extensive documentation on the classes, methods, and
  properties exposed by the Denali framework.
</p>

<h2>Modules</h2>
{% for module in page.version.api.modules %}
  {% if module[1].is_submodule %}
    <a class='module-link' href='/{{ page.version.ref }}/api/modules/{{ module[1].name | url_encode }}'>{{module[1].name | capitalize }}</a>
  {% endif %}
{% endfor %}

<h2>All Classes</h2>
{% for class in page.version.api.classes %}
  <a class='class-link' href='/{{ page.version.ref }}/api/classes/{{ class[0] | url_encode }}' {% if class[1].access == 'private' %}data-private-class=true{% endif %}>{{ class[0] }}</a>
{% endfor %}
