---
layout: default
---
<div class='community'>
  <div class="container">
    <%- include('/navbar') %>
    <div class="hero">
      <h1 class="headline">
        Get Involved in the Denali Community
      </h1>
    </div>
    <div class='resources'>
      <a class="resource" href="https://denali-slack.now.sh/">
        <div class="resource-graphic">
          <img src="/images/slack-logo.png">
        </div>
        <h3 class="resource-title">Denali Slack</h3>
      </a>
      <a class="resource" href="http://stackoverflow.com/questions/tagged/denali">
        <div class="resource-graphic">
          <img src="/images/stack-overflow-logo.png">
        </div>
        <h3 class="resource-title">Stack Overflow</h3>
      </a>
      <a class="resource" href="http://discuss.denalijs.org">
        <div class="resource-graphic">
          <img src="/images/discourse-logo.png">
        </div>
        <h3 class="resource-title">Discussion Forums</h3>
      </a>
    </div>
    <%- include('/footer') %>
  </div>
</div>
