<header>
  <div class='container'>
    <img class='logo-light' src='/images/logo.png' alt='Denali'>
    <a class='project-name' href=''>denali</a>

    <nav>
      <a href='/guides/quickstart' class='nav-link'>Quickstart</a>
      <a href='/guides' class='nav-link'>Guides</a>
      <a href='/api/latest/modules/denali' class='nav-link'>API</a>
      <a href='https://github.com/davewasmer/denali' target='_blank' class='nav-link'>Github</a>
      <a href='https://github.com/davewasmer/denali/issues' target='_blank' class='nav-link'>Issues</a>
    </nav>
  </div>
</header>
