<nav class="navbar">
  <div class='container'>
    <a href='.' class='navbar-brand'>
      <img class='logo-light' src='images/logo.svg' alt='Denali'>
      <span class='project-name'>Denali</span>
    </a>

    <div class="navbar-nav">
      <a class='nav-link' href='{{ page.version.ref | default: 'latest' }}/guides/quickstart'>Quickstart</a>
      <a class='nav-link' href='{{ page.version.ref | default: 'latest' }}/guides/introduction'>Guides</a>
      <a class='nav-link' href='{{ page.version.ref | default: 'latest' }}/api'>API</a>
      <a class='nav-link' href='https://github.com/{{site.repo}}' target='_blank'>Github</a>
      <a class='nav-link' href='https://github.com/{{site.repo}}/issues' target='_blank'>Issues</a>
    </div>
  </div>
</nav>
