.guides-nav {
  margin-top: 3em;

  .nav-section {
    margin-bottom: 1.5em;
  }

  .nav-header {
    margin-bottom: 0.3em;
    color: #aaa;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  .nav-link {
    display: block;
    padding: 0.1em 0;
    color: #777;
    text-decoration: none;

    &:hover {
      color: #222;
    }
  }
}

.guides-body {
  margin-top: 3em;
  margin-bottom: 8em;
  padding-left: 2em;
  border-left: 1px solid #eee;
  line-height: 1.8;

  h2,h3,h4,h5,h6 {
    margin-top: 1em;
  }

  h1,h2,h3,h4,h5,h6 {
    margin-bottom: 1rem;
  }

  blockquote {
    @extend .alert, .alert-info;
  }
}
