.api-nav {
  margin-top: 3em;

  .nav-header {
    margin-top: 2em;
    margin-bottom: 0.5em;
    padding: 0 0.4rem;
    color: lighten($text-muted, 20%);
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
  }

  .private-classes-toggle {
    display: block;
    margin-top: 2em;
    margin-left: 0.4rem;
    color: lighten($text-muted, 20%);
    font-size: 0.8em;

    input {
      position: relative;
      top: -0.1em;
      margin-right: 0.3em;
    }
  }

  .versions-select {
    margin-left: 0.4em;
  }

  .nav-link {
    display: block;
    margin: 0.1em 0;
    padding: 0.1em 0.4em;
    border-radius: 3px;
    color: lighten($body-color, 10%);
    text-decoration: none;

    &:hover {
      color: darken($body-color, 10%);
    }

    &.active {
      background-color: $link-color;
      color: $white;
    }
  }

  [data-private-class] {
    display: none;
  }
}

.class-link,
.module-link {
  display: block;
}

.api-body {
  min-width: 0;
  margin-top: 3em;
  padding-left: 2em;
  border-left: 1px solid darken($white, 4%);
}

.module-name, .class-name {
  margin-bottom: 0;
}

.class-module {
  align-items: flex-end;
  margin: 0.5em 0 1em;

  .class-module-name {
    margin: 0 0.5em;
    font-family: $font-family-monospace;
  }
}

.class-private {
  float: right;
  padding: 0.5em 1em;
  background: $brand-yellow;
  border-radius: 200px;
  color: darken($brand-yellow, 50%);
  font-family: $font-family-base;
  font-size: 1rem;
  font-weight: 400;
}

.defined-in {
  display: block;
  color: $text-muted;
  font-family: $font-family-sans-serif;
  font-size: 0.8em;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    &, .filename, .line {
      text-decoration: underline;
    }
  }

  .filename, .line {
    display: inline-block;
  }

  .line {
    margin-left: 0.5em;
  }
}

.module-description, .class-description {
  margin-bottom: 1em;
}

.display-controls {
  margin-top: 4em;
  padding: 0.75em 1em;
  border: 2px solid $border-color;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  background-color: mix($brand-blue, $white, 20%);

  .toggle {
    margin-right: 1em;
    margin-bottom: 0;
    font-weight: 600;
  }

  + .summary {
    border-radius: 0 0 4px 4px;
  }
}

.summary {
  display: flex;
  padding: 1em;
  border: 2px solid $border-color;
  border-radius: 4px;
  background-color: mix($brand-yellow, $white, 40%);
  overflow: auto;
}

.summary-section {
  flex-basis: 50%;
}

.summary-header {
  color: mix($brand-primary, $body-color);
  font-weight: 600;
}

.summary-link {
  display: block;
  padding: 0.1em 0.3em;
  color: $body-color;
  font-family: $font-family-monospace;
}

.type {
  color: lighten($text-muted, 20%);
}

.classitems {
  margin-bottom: 10em;
}

.item {
  margin: 2em 0;
  border: 2px solid $border-color;
  border-radius: 4px;

  &:hover .improve {
    visibility: visible;
  }
}

.improve {
  margin-top: 0.5em;
  font-size: 0.8em;
  text-align: right;
  visibility: hidden;
}

[data-private-member], [data-deprecated-member] {
  display: none;
}

.item-header {
  margin-top: 1.5em;
  margin-bottom: 0.25em;
  color: lighten($text-muted, 20%);
  font-size: 0.7em;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.item-title {
  margin-bottom: 0;
  padding: 0.75em 1em;
  border-bottom: 1px solid #ccc;
  font-family: $font-family-monospace;
  font-size: 1.3rem;

  .param {
    color: lighten($body-color, 10%);

    &::after {
      content: ', ';
    }

    &:last-of-type::after {
      display: none;
    }
  }

  .defined-in {
    width: 100%;
    margin-bottom: 2px;
    font-size: 0.65em;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }

  .tag {
    margin: 0 1em;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-family: $font-family-sans-serif;
    font-size: 0.6em;
    text-transform: uppercase;

    &.private {
      $bg: #e4f5bb;
      border: 1px solid darken($bg, 20%);
      background: $bg;
      color: darken($bg, 50%);
    }
  }
}

.item-body {
  padding: 1em;

  .item-header:first-of-type {
    margin-top: 0;
  }

  .param {
    @include flex;
  }

  .no-params, .no-return {
    color: #ccc;
  }
}

.param {
  font-weight: 400;
}

.param-name, .param-type {
  flex: 0 0 auto;
  font-family: $font-family-monospace;
}

.param-name {
  font-weight: 600;
}

.param-description {
  @include flex;
  margin-left: 0.25em;
}

.param-description, .item-description, .return-description {
  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.param-description, .return-description {
  &::before {
    @include flex;
    margin: 0 0.3em;
    content: '-';
  }
}

.return {
  @include flex;
}

.return-description {
  @include flex;
  flex-shrink: 1;
}

.return-type {
  margin-right: 0.1em;
  color: $text-muted;
  font-family: $font-family-monospace;
  font-weight: 600;
}

.module-classes-header {
  margin-bottom: 0.25em;
}

.module-class-link {
  padding: 0.1em 0;
  font-size: 1.1em;
}
