.guides-nav {
  margin-top: 3em;

  .nav-section {
    margin-bottom: 1.5em;
  }

  .nav-header {
    margin-bottom: 0.3em;
    color: #aaa;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  .nav-link {
    display: block;
    padding: 0.1em 0;
    color: #777;
    text-decoration: none;

    &:hover {
      color: #222;
    }
  }
}

.guides-body {
  display: block;
  margin-top: 3em;
  margin-bottom: 8em;
  padding-left: 2em;
  border-left: 1px solid #eee;
  line-height: 1.8;

  .improve-btn {
    @extend %btn-primary;
    float: right;
    border-width: 2px;
    font-size: 0.8em;
  }

  h2,h3,h4,h5,h6 {
    margin-top: 1em;
  }

  h1,h2,h3,h4,h5,h6 {
    margin-bottom: 1rem;
  }

  blockquote {
    margin: 3em 2em;
    padding: 1.25em;
    border: 4px solid $border-color;
    border-radius: 8px;
    background-color: $brand-yellow;

    > p:last-child {
      margin-bottom: 0;
    }
  }
}
