.homepage {
  flex-direction: column;

  .hero {
    @include flex;
    align-items: center;
    justify-content: center;
    height: 45em;
    padding-top: 5em;
    background: url('images/hero-bg.svg');
    background-size: 1075px;
    background-position: center -80px;
    background-repeat: no-repeat;
    text-align: center;

    .container {
      @include flex;
      flex-direction: column;
    }

    .headline {
      margin-top: 4em;
      font-family: $font-family-headings;
      font-size: 2.5em;
      font-weight: 400;

      strong {
        font-weight: 700;
        text-decoration: underline;
      }
    }

    .lead {
      font-size: 1.3em;
      font-weight: 300;
    }

    .terminal {
      @include flex;
      flex-direction: column;
      align-self: center;
      margin-top: 2em;
      border: 4px solid $border-color;
      border-radius: 8px;
    }

    .terminal-title {
      @include flex;
      padding: 0.4em;
      background-color: #ccc;
      border-radius: 4px 4px 0 0;
    }

    .terminal-title-button {
      width: 0.85em;
      height: 0.85em;
      margin: 0.25em;
      background-color: #aaa;
      border-radius: 100px;
    }

    pre {
      align-self: flex-start;
      margin-bottom: 0;
      padding: 1.2em 5em 1.2em 1.2em;
      text-align: left;

      code {
        color: $white;
      }
    }

  }

  .alpha-warning {
    margin: 4em 0;
    padding: 2em;
    background: $brand-yellow;
    border-top: 4px solid $border-color;
    border-bottom: 4px solid $border-color;
    font-size: 1.1em;

    .container {
      @include flex;
    }

    .warning-icon {
      margin: 0 2.5em;
    }

    .warning-title {
      margin-bottom: 0;
      font-size: 1.1em;
    }

    .warning-body {
      flex: 1 1 auto;
    }
  }

  .features.container {
    @include flex;
    flex-direction: column;
  }

  .feature {
    @include flex;
    margin: 4em 0;
  }

  .feature-graphic {
    max-width: 100%;
  }

  .cta {
    margin-top: 15em;
    margin-bottom: 15em;
    text-align: center;
  }

  .cta-header {
    font-size: 2em;
  }

  .cta-btn {
    @extend %btn-primary;
    align-self: center;
    margin: 0.5em;
    font-size: 1.4em;
  }

}
