.homepage {
  background: linear-gradient(to bottom, darken($brand-primary, 8%), $brand-primary);
  color: $white;

  a {
    color: inherit;
  }

  .container {
    align-items: center;
    padding-top: 4em;
    padding-bottom: 4em;
  }

  .navbar {
    align-self: stretch;
    background-color: transparent;

    .brand {
      font-size: 1.75em;
    }
  }

  .hero {
    padding-top: 8em;

    .headline {
      font-size: 3em;
      font-weight: 200;
      text-align: center;

      strong {
        font-weight: inherit;
        text-decoration: underline;
      }
    }

    .terminal {
      width: calc(878px + 0.8em);
      margin: 8em auto;
      padding-bottom: 6px;
      background-color: $dark-gray;
      border-radius: 3px;
      box-shadow: 0px 5px 10px rgba(#000, 0.2), 0px 11px 25px rgba(#000, 0.2);

      .terminal-window-controls {
        display: flex;
        padding: 0.4em;

        .terminal-window-control {
          width: 1em;
          height: 1em;
          margin: 0.3em;
          border-radius: 100%;
          background-color: rgba($white, 0.1);
          font-size: 0.7em;
        }
      }

      .asciicast-container {
        height: 498px;
        padding: 0.4em;
        overflow: hidden;

        .asciicast {
          margin: 0 !important;
        }
      }
    }
  }

  .alpha-warning {
    width: 50%;
    padding: 1em;
    border-radius: 3px;
    background-color: #ffff6f;
    color: darken(#ffff6f, 60%);
    font-size: 1.15em;
    box-shadow: 0px 11px 25px rgba(#000, 0.2);

    .warning-title {
      margin-top: 0;
      margin-bottom: 0.5em;
    }
  }

  hr {
    width: 75%;
    margin: 8em 0;
    border: none;
    border-bottom: 1px solid rgba($white, 0.1);
  }

  .features {
    display: flex;

    .feature-graphic {
      flex: 1 1 auto;
      margin-right: 4em;
    }

    .features-body {
      flex: 0 0 30em;

      .feature {

        .feature-headline {

        }

        .feature-description {

        }

      }

    }
  }

}