.navbar {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: space-between;
  background-color: $brand-primary;
  color: $white;

  .brand {
    display: flex;
    align-items: center;
    margin-left: 1em;
    color: inherit;
    font-size: 1.15em;
    text-decoration: none;

    .brand-logo {
      position: relative;
      top: -0.05em;
      height: 1.6em;
      margin-right: 0.25em;
    }

    .brand-name {
      font-weight: 700;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    font-size: 1.15em;

    .nav-link {
      display: block;
      padding: 1em;
      color: $white;
      font-weight: 700;
      text-decoration: none;

      &:focus, &:active {
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        color: $white;
      }
    }
  }
}
