@import 'normalize';

$white: #fff;
$black: #000;
$off-white: #C1C7CF;
$brand-primary: #414F71;
$dark-gray: #272822;
$monospaced: 'Overpass Mono', monospace;
$text: #31415C;

* {
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: $text;
  font-family: 'Overpass', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #8397F5;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  width: 960px;
  margin: 0 auto;
}

.footer {
  display: flex;
  align-items: center;
  margin-top: 8em;
  margin-bottom: 4em;

  .fox-and-beard {
    width: 1em;
    margin: 0 0.5em;
  }

  a {
    margin-left: 0.25em;
  }
}

@import 'buttons';
@import 'navbar';
@import 'version-dropdown';
@import 'code';
@import 'docs';
@import 'docs-children';
@import 'homepage';
@import 'community';
