{
  "plugins": [
    "transform-exponentiation-operator",
    "syntax-trailing-function-commas",
    "transform-es2015-arrow-functions",
    "transform-es2015-template-literals",
    "transform-es2015-spread",
    "transform-es2015-shorthand-properties",
    "transform-es2015-destructuring",
    "transform-class-properties",
    "transform-es2015-modules-commonjs",
    "transform-regenerator",
    "syntax-async-functions",
    "transform-runtime"
  ],
  "ignore": [
    "blueprints/*/files/**",
    "test/dummy/**"
  ]
}
