<header>
  <img class='logo-light' src='images/logo-light.png' alt='Denali'>
  <img class='logo-dark' src='images/logo-dark.png' alt='Denali'>
  <a class='project-name' href=''>Denali</a>

  <nav>
    <a href='get-started' class='nav-link'>Get Started</a>
    <a href='why-denali' class='nav-link'>Why Denali</a>
    <a href='api' class='nav-link'>API Docs</a>
    <a href='https://github.com/davewasmer/denali' target='_blank' class='nav-link'>Github</a>
  </nav>
</header>
