---
layout: api
---
<div class='docs-content func'>

  <%- include('/overview', { item: func}) %>
  <%- include('/child-function', { func }) %>

</div>

<div class="in-page-nav">

  <a class="nav-link section-link" href='#overview'>Overview</a>

  <a href="https://github.com/<%= repo %>/edit/master/<%= sourceFile(func) %>" class="improve-button">Improve This Page</a>

</div>
