---
layout: api
---

<div class='module'>
  <h1 class='module-name'>{{ page.module.name | capitalize }}</h1>
  {% if page.module.file %}
    <a class='defined-in' href='https://github.com/{{ site.repo }}/blob/{{ page.version.ref }}/{{ page.module.file | url_encode }}#L{{ page.module.line }}'>
      <span class='filename'>Defined in: {{ page.module.file }}</span>
      <span class='line'>Line: {{ page.module.line }}</span>
    </a>
  {% endif %}
  {% if page.module.description %}
    <div class='module-description'>{{ page.module.description | markdownify }}</div>
  {% endif %}

  <h2 class='module-classes-header'>Classes</h2>
  {% for class in page.module.classes %}
    <div class='module-class-link'>
      <a href='../../classes/{{ class[0] | url_encode }}'>{{ class[0] }}</a>
    </div>
  {% endfor %}
</div>
