---
layout: page
---

<div class='container'>
  <div class='api-nav'>

    {% include version-dropdown.html %}

    <div class='nav-section'>
      <div class='nav-header'>Modules</div>
      {% for module in page.version.api.modules %}
        {% if module[1].is_submodule %}
          <a class='nav-link {% if page.module.name == module[0] %}active{% endif %}' href='../../modules/{{ module[1].name | url_encode }}'>{{module[1].name | capitalize }}</a>
        {% endif %}
      {% endfor %}
    </div>

    <div class='nav-section'>
      <div class='nav-header'>
        Classes
        <label class='private-classes-toggle'>
          <input type='checkbox' id='toggle-private-classes'>
          Include Private
        </label>
      </div>
      {% for class in page.version.api.classes %}
        <a class='nav-link {% if page.class.name == class[0] %}active{% endif %}' href='../../classes/{{ class[0] | url_encode }}' {% if class[1].access == 'private' %}data-private-class=true{% endif %}>{{ class[0] }}</a>
      {% endfor %}
    </div>

  </div>

  <div class='api-body'>
    {{content}}
  </div>
</div>

<script>
  $(function() {
    var $privateClassToggle = $('#toggle-private-classes');
    $privateClassToggle.on('change', function() {
      if ($privateClassToggle.is(':checked')) {
        $('[data-private-class]').css('display', 'block');
      } else {
        $('[data-private-class]').css('display', 'none');
      }
    });
    {% if page.class.access == 'private' %}
      $privateClassToggle.click();
    {% endif %}
  });
</script>
