---
layout: page
---

<div class='container'>
  <div class='row'>
    <div class='api-nav col-md-3'>
      <%- include('/version-dropdown') %>
      <label class='private-classes-toggle'>
        <input type='checkbox' id='toggle-private-classes'>
        Include Private
      </label>
      <% forIn(version.data.packages, (items, name) => { %>
        <div class='nav-section'>
          <div class='nav-header'><%= name %></div>
          <% items.forEach(({ item }) => { %>
            <%= item.name %>
          <% }) %>
        </div>
      <% }) %>
    </div>
    <div class='api-body col-md-9'>
      <%- content %>
    </div>
  </div>
</div>

<script>
  $(function() {
    var $privateClassToggle = $('#toggle-private-classes');
    $privateClassToggle.on('change', function() {
      if ($privateClassToggle.is(':checked')) {
        $('.api-nav [data-private-class]').css('display', 'block');
      } else {
        $('.api-nav [data-private-class]').css('display', 'none');
      }
    });
    {% if page.class.access == 'private' %}
      $privateClassToggle.click();
    {% endif %}
  });
</script>
